<md-card fxFlex="100">

    <div fxLayout="row" *ngIf="campaign">

        <div fxLayout="column" fxFlex="55">

            <div fxFlex="100" fxLayout="row">
                <div fxLayout="column" class="details-display-container">
                    <label>
                        Title
                    </label>
                    <div>
                        {{ campaign.name }}
                    </div>
                </div>
            </div>

            <div fxFlex="100" fxLayout="row">
                <div fxLayout="column" class="details-display-container">
                    <label>
                        Description
                    </label>
                    <div>
                        {{ campaign.description }}
                    </div>
                </div>
            </div>

            <div fxFlex="100" fxLayout="row">
                <div fxLayout="column" class="details-display-container">
                    <label>
                        Title
                    </label>
                    <div>
                        {{ campaign.name }}
                    </div>
                </div>
            </div>


            <div fxFlex="100" fxLayout="row" fxLayoutGap="10px">

                <div class="details-display-container" fxFlex="33">
                    <label>
                        Start Date
                    </label>
                    <div>
                        {{ campaign.start_at | date: 'M/dd/yyyy' }}
                    </div>
                </div>

                <div class="details-display-container" fxFlex="33">
                    <label>
                        End Date
                    </label>
                    <div>
                        {{ campaign.end_at | date: 'M/dd/yyyy' }}
                    </div>
                </div>

            </div>

        </div>

        <!-- Placeholder div -->
        <div fxFlex="45">
        </div>

    </div>

</md-card>
