<div fxLayout="column" class="content-selector">
    <md-tab-group [(selectedIndex)]="tabIndex" #tabGroup>

        <md-tab label="Select">

            <app-selectable-list (emitSelectedItem)="contentSelected($event)" [rows]="content" [root]="'content'">
            </app-selectable-list>

        </md-tab>

        <md-tab label="Create">

            <app-content-creator-form>
            </app-content-creator-form>

        </md-tab>

    </md-tab-group>

    <div fxLayoutAlign="end">
        <button type="submit" class="common-form-submit" md-raised-button color="primary" (click)="closeSelectWithData()" *ngIf="tabGroup.selectedIndex === 0">Attach Content</button>
        <button type="submit" class="common-form-submit" md-raised-button color="primary" (click)="submitForm($event)" *ngIf="tabGroup.selectedIndex === 1 && creatorForm.contentType">Attach Content</button>
    </div>
</div>
