<md-card class="expandable-header mat-elevation-z0" fxLayout="row">
    <div class="heading-wrapper cursor-pointer" fxFlex="95" (click)="toggleExpanded()" *ngIf="!editing">
        <h1 class="expandable-panel-heading" fxLayoutAlign="start center">
            <div fxFlex="45">
                {{ item.name }}
            </div>

            <div fxFlex="45" fxLayout="row">
                <md-chip-list [selectable]="false">
                  <md-chip *ngFor="let item of targets">{{ item.display_name }}</md-chip>
                </md-chip-list>
            </div>

            <div fxFlex="10" fxLayoutAlign="end">
                <md-icon [@iconChange]="isExpanded + ''">keyboard_arrow_up</md-icon>
            </div>
        </h1>
    </div>

    <div class="heading-wrapper editing" fxFlex="95" *ngIf="editing">
        <h1 class="expandable-panel-heading" fxLayoutAlign="start center">

            <div fxFlex="25">
                <md-input-container>
                    <input
                    mdInput
                    name="name"
                    type="text"
                    placeholder="Name"
                    required
                    [(ngModel)]="item.name">
                </md-input-container>
            </div>

            <div fxFlex="20">
                <app-target-typeahead (emitSelectedItem)="targetSelected($event)"></app-target-typeahead>
            </div>

            <div fxFlex="45" fxLayout="row">
                <md-chip-list [selectable]="false">
                  <md-chip *ngFor="let item of targets">
                      {{ item.display_name }}
                      <button type="button" md-icon-button (click)="removeTarget(item)">
                          <md-icon>close</md-icon>
                      </button>
                  </md-chip>
                </md-chip-list>
            </div>

            <div
                class="cursor-pointer"
                fxFlex="10"
                fxLayoutAlign="end"
                (click)="toggleExpanded()">
                <md-icon [@iconChange]="isExpanded + ''">keyboard_arrow_up</md-icon>
            </div>

        </h1>
    </div>

    <div class="menu-wrapper" fxFlex="5" fxLayoutAlign="end end">
        <md-menu #appMenu="mdMenu">
          <button
              md-menu-item
              (click)="editing = true"
              *ngIf="!editing">
              Edit
          </button>
          <button
              md-menu-item
              (click)="updateItem()"
              *ngIf="editing">
              Save
          </button>
          <button
              md-menu-item
              (click)="removeItem()">
                  Remove
              </button>
        </md-menu>

        <button md-icon-button [mdMenuTriggerFor]="appMenu">
           <md-icon>more_vert</md-icon>
        </button>
    </div>
</md-card>

<div class="expandable-content" [@expandChange]="isExpanded + ''">
    <ng-content></ng-content>
</div>
