<md-card fxFlex="100" class="sortable-list-item cursor-pointer" (click)="navigate()">

    <div fxFlex="100" *ngIf="layout === 'row'" fxLayout="row" fxLayoutAlign="space-around center">

        <div fxFlex="40">
            {{ item.name }}
        </div>

        <div fxFlex="20">
            Start Date: {{ item.start_at | date: 'M/dd/yyyy' }}
        </div>

        <div fxFlex="20">
            End Date: {{ item.end_at | date: 'M/dd/yyyy' }}
        </div>

        <div fxFlex="20">
            Impressions: 100,000,000
        </div>
    </div>

    <div fxFlex="100" *ngIf="layout === 'card'" fxLayout="column">
        <div fxFlex="150px" fxLayoutAlign="space-around center">
            GRAPH
        </div>
        <div fxFlex="150px">
            <div fxFlex="20">
                <a routerLink="/{{ root }}/{{ item.id }}">
                    {{ item.name }}
                </a>
            </div>

            <div fxFlex="20">
                Description: {{ item.description }}
            </div>

            <div fxFlex="20">
                Start Date: {{ item.start_at | date: 'M/dd/yyyy' }}
            </div>

            <div fxFlex="20">
                End Date: {{ item.end_at | date: 'M/dd/yyyy' }}
            </div>

            <div fxFlex="20">
                Impressions: 100,000,000
            </div>
        </div>

    </div>

</md-card>
