<div fxFlex="400px" class="terms-container">

    <form #form="ngForm" (ngSubmit)="submitForm(form)" novalidate fxLayout="column">

        <div fxLayout="row">
            <md-input-container fxFlex="100">
                <textarea
                    mdInput
                    name="terms"
                    type="text"
                    placeholder="Terms and Conditions"
                    required
                    [(ngModel)]="data.terms"
                    #terms="ngModel">
                </textarea>

                <md-hint align="start">
                    <div  *ngIf="form.submitted && terms.errors !== null && terms.errors.required">
                        Please add Terms and Conditions
                    </div>
                </md-hint>
            </md-input-container>
        </div>

        <div fxLayout="row">
            <button
                type="submit"
                class="common-form-submit"
                md-raised-button
                color="primary"
                fxFlex>
                Add Terms
            </button>
        </div>

    </form>

</div>
