    
  <form #form="ngForm" (ngSubmit)="submitForm(form)" novalidate fxLayout="column">

    <div fxLayout="row">

        <md-input-container fxFlex="50">
            <input
                mdInput
                name="presetName"
                type="text"
                placeholder="Delivery Preset Name"
                required
                [(ngModel)]="presetName"
                #name="ngModel">

            <md-hint align="start">
                <div  *ngIf="form.submitted && presetName.errors !== null">
                    Please add Delivery Preset Name
                </div>
            </md-hint>
        </md-input-container>

    </div>

    <div fxLayout="row">

        <md-select
            placeholder="Delivery Mode"
            name="deliveryMode"
            [(ngModel)]="presetMode">
                <md-option *ngFor="let mode of deliveryModes" [value]="mode.value">
                    {{ mode.viewValue }}
                </md-option>
        </md-select>

    </div>

    <div fxLayout="row" fxLayoutAlign="end">
        
        <div>
            <button
                type="submit"
                class="common-form-submit"
                md-raised-button
                fxFlex>
                <md-icon>
                    add
                </md-icon>
                Add Delivery Preset
            </button>
        </div>

    </div>

  </form>