            <div fxLayout="column">

                <div fxLayout="row" fxLayoutAlign="end" *ngIf="content">
                    <div fxFlex="50" fxLayout="column" class="scratcher-toggle-container">
                    <div fxLayout="row" fxLayoutAlign="center">
                           <label class="creator-section-label" for="scratcher_enabled">
                                Enable Scratcher
                            </label>
                        </div>

                        <div class="scratcher-toggle" fxLayout="row" fxLayoutAlign="center">
                            <md-slide-toggle
                                name="scratcher_enabled"
                                [color]="'primary'"
                                [labelPosition]="'before'"
                                [(ngModel)]="scratcherEnabled">
                            </md-slide-toggle>
                        </div> 
                    </div>

                    <div class="right-column" fxLayout="column">

                        <md-tab-group *ngIf="content.scratcher_name">

                            <!-- SCRATCHER LAYER -->
                            <md-tab label="Overlay">

                                <div class="creator-section-label">
                                    Scratcher Overlay Preview
                                </div>

                                <div class="scratcher-preview" fxLayout="column">

                                    <div class="scratcher-hero-image-container" fxFlex="150px;">
                                        <app-image class="scratcher-hero-image-container"
                                            [uuid]="content.uuid"
                                            [key]="'hero-scratcher'">
                                        </app-image>
                                    </div>

                                    <div class="scratcher-overlay-body-container" fxFlex="300px;">
                                        <div class="uploader-zone" fxFlex="100">
                                            <app-image
                                                *ngIf="content.custom_scratcher"
                                                [uuid]="content.uuid"
                                                [key]="'overlay-scratcher'">
                                            </app-image>
                                        </div>
                                    </div>

                                </div>

                            </md-tab>

                            <!-- SCRATCHER INTERIOR LAYER -->
                            <md-tab label="Scratcher">

                                <div class="creator-section-label">
                                    Scratcher Preview
                                </div>

                                <div class="scratcher-preview"  fxLayout="column">

                                    <div class="scratcher-hero-image-container" fxFlex="150px;">
                                        <app-image class="scratcher-hero-image-container" 
                                            [uuid]="content.uuid"
                                            [key]="'hero-offer'">
                                        </app-image>
                                    </div>

                                    <div class="scratcher-body" fxFlex="300px;" fxLayout="column">

                                        <div fxFlex></div>

                                        <h3 class="scratcher-heading center" fxLayout="row" fxFlex="10" fxLayoutAlign="center">
                                            <span>
                                                {{ content.scratcher_name }}
                                            </span>
                                        </h3>

                                        <h2 class="scratcher-heading center" fxLayout="row" fxFlex="10" fxLayoutAlign="center">
                                            <span>
                                                {{ content.scratcher_description }}
                                            </span>
                                        </h2>

                                        <div fxLayout="row" fxFlex="20" fxLayoutAlign="center">
                                        </div>
                                        <div fxLayout="row" fxFlex="10" fxLayoutAlign="center">
                                            <small>
                                                from Payless Shoes
                                            </small>
                                        </div>

                                        <div fxLayout="row" fxFlex="40">
                                            <button type="button" name="button" md-raised-button color="primary" fxFlexAlign="end" fxFlex="100">
                                                Save to Wallet
                                            </button>
                                        </div>

                                        <div fxFlex></div>

                                        <div fxLayout="row" fxFlex="10" fxLayoutAlign="center">
                                            No thanks
                                        </div>

                                    </div>

                                </div>

                            </md-tab>

                            <!-- OFFER LAYER -->
                            <md-tab label="Offer">

                                <div class="creator-section-label">
                                    Offer Preview
                                </div>

                                <div class="scratcher-preview"  fxLayout="column">

                                    <div class="scratcher-hero-image-container" fxFlex="150px;">
                                        <app-image class="scratcher-hero-image-container"
                                            [uuid]="content.uuid"
                                            [key]="'hero-offer'">
                                        </app-image>
                                    </div>

                                    <div class="scratcher-body" fxFlex="300px;" fxLayout="column" fxLayoutAlign="start center">
                                        <div fxFlex="10" fxLayoutAlign="start center"></div>
                                            <div fxLayout="row" fxFlex="10" fxLayoutAlign="start start">
                                                <h3 class="scratcher-heading">{{ content.display_name }}</h3>
                                            </div>
                                            <div fxLayout="row" fxFlex="10" fxLayoutAlign="start start">
                                                <small>from Payless Shoes</small>
                                            </div>
                                            <div fxLayout="row" fxFlex="10" fxLayoutAlign="start start">
                                                <p class="scratcher-heading">{{ content.description }}</p>
                                            </div>

                                    </div>

                                </div>

                            </md-tab>

                        </md-tab-group>

                        <div fxLayout="column" *ngIf="!content.scratcher_name">
                            <div fxFlex="49px;"></div>

                            <div class="creator-section-label">
                                Offer Preview
                            </div>

                            <div class="scratcher-preview" fxLayout="column">

                                <div class="scratcher-hero-image-container" fxFlex="150px;">
                                    <app-image class="scratcher-hero-image-container"
                                        [uuid]="content.uuid"
                                        [key]="'hero-offer'">
                                    </app-image>
                                </div>

                                <div class="scratcher-body" fxFlex="300px;">

                                    <h3 class="scratcher-heading">{{ content.display_name }}</h3>

                                    <small>from Payless Shoes</small>

                                    <p>{{ content.description }}</p>

                                </div>

                            </div>
                        </div>

                        <div class="creator-section-label" *ngIf="content.type !== 'message'">
                            Wallet Item Preview
                        </div>
                        <div fxLayout="row" class="wallet-preview" *ngIf="content.type !== 'message'">
                            <div class="wallet-image-container">
                                <app-image class="wallet-image-container"
                                    [uuid]="content.uuid"
                                    [key]="'wallet'">
                                </app-image>
                            </div>
                            <div class="wallet-body-container" fxLayout="column">
                                <h3 class="wallet-heading" fxFlex="50">{{ content.display_name }}</h3>
                                <div class="wallet-expiration" fxFlex="50">
                                    Use by {{ content.end_at | date }}
                                </div>
                            </div>
                        </div>

                        <div fxLayout="row" class="terms-button-container" *ngIf="content.type !== 'message'">
                            <button
                                fxFlex="100"
                                type="button"
                                name="button"
                                md-raised-button
                                disabled>
                                Terms and Conditions
                            </button>
                        </div>

                    </div>
                </div>


        </div>