<md-card class="creator-form-card content-details" fxLayout="column" fxFlex="100">

        <div fxLayout="row" *ngIf="content">

            <!-- Left Justified Content -->
            <div fxLayout="column" fxFlex="55">

                    <div>
                        <div fxLayout="column" class="details-display-container">
                            <label>
                                Type
                            </label>
                            <div>
                                {{ content.type }}
                            </div>
                        </div>
                    </div>

                    <div>
                        <div fxLayout="column" class="details-display-container">
                            <label>
                                Title
                            </label>
                            <div>
                                {{ content.name }}
                            </div>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="10px">

                        <div fxFlex="33" fxLayout="column" class="details-display-container">
                            <label>
                                Start Date
                            </label>
                            <div>
                                {{ content.start_at | date: 'M/dd/yyyy' }}
                            </div>
                        </div>

                        <div fxFlex="33" fxLayout="column" class="details-display-container">
                            <label>
                                End Date
                            </label>
                            <div>
                                {{ content.end_at | date: 'M/dd/yyyy' }}
                            </div>
                        </div>

                    </div>

                    <div class="form-highlight-well details-well" fxLayout="column">
                        <div fxLayout="row">
                            <div fxLayout="column" class="details-display-container">
                                <label>
                                    Display Title
                                </label>
                                <div>
                                    {{ content.display_name }}
                                </div>
                            </div>
                        </div>

                        <div fxLayout="row">
                            <div fxLayout="column" class="details-display-container">
                                <label>
                                    Description
                                </label>
                                <div>
                                    {{ content.description }}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-highlight-well details-well" fxFlex="100" *ngIf="content.scratcher_name">
                        <div fxFlex="100" fxLayout="row">
                            <div fxLayout="column" class="details-display-container">
                                <label>
                                    Scratcher Exclamation
                                </label>
                                <div>
                                    {{ content.scratcher_name }}
                                </div>
                            </div>
                        </div>

                        <div fxFlex="100" fxLayout="row">
                            <div fxLayout="column" class="details-display-container">
                                <label>
                                    Scratcher Description
                                </label>
                                <div>
                                    {{ content.scratcher_description }}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div fxLayout="row"  *ngIf="content.type === 'offer'">
                        <div fxFlex="33" fxLayout="column" class="details-display-container">
                            <label>
                                Redemption Method
                            </label>
                            <div>
                                {{ content.redemption_method }}
                            </div>
                        </div>

                        <div fxFlex="66" fxLayout="column" *ngIf="content.redemption_method">
                            <div fxLayout="row" fxLayoutGap="10px">
                                <div fxFlex="50" fxLayout="column" class="details-display-container">
                                    <label>
                                        Redemption Code
                                    </label>
                                    <div>
                                        {{ content.redemption_code }}
                                    </div>
                                </div>
                            </div>

                            <div fxLayout="row" fxLayoutGap="10px" *ngIf="content.redemption_method === 'online' || content.redemption_method === 'both'">
                                <div fxFlex="100" fxLayout="column" class="details-display-container">
                                    <label>
                                        Redemption URL
                                    </label>
                                    <div>
                                        {{ content.redemption_url }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div fxLayout="row" *ngIf="content.type !== 'message' && content.quantity">
                        <div fxFlex="100" fxLayout="column" class="details-display-container">
                            <label>
                                Limit
                            </label>
                            <div>
                                {{ content.quantity }}
                            </div>
                        </div>
                    </div>

            </div>

            <!-- Right Justified Content -->
            <div fxLayout="column" fxFlex="45"  *ngIf="content.type">

                <div fxLayout="row" fxLayoutAlign="end">
                    <div fxFlex="50" fxLayout="column" class="scratcher-toggle-container">
                        <!-- <div fxLayout="row" fxLayoutAlign="center">
                            <label class="creator-section-label" for="scratcher_enabled">
                                Enable Scratcher
                            </label>
                        </div>

                        <div class="scratcher-toggle" fxLayout="row" fxLayoutAlign="center">
                            <md-slide-toggle
                                name="scratcher_enabled"
                                [color]="'primary'"
                                [labelPosition]="'before'"
                                [(ngModel)]="scratcherEnabled">
                            </md-slide-toggle>
                        </div> -->
                    </div>

                    <div class="right-column" fxLayout="column">

                        <md-tab-group *ngIf="content.scratcher_name">

                            <!-- SCRATCHER LAYER -->
                            <md-tab label="Overlay">

                                <div class="creator-section-label">
                                    Scratcher Overlay Preview
                                </div>

                                <div class="scratcher-preview">

                                    <div class="scratcher-hero-image-container" fxFlex="150px;">
                                        <app-image
                                            [uuid]="content.uuid"
                                            [key]="'hero-scratcher'">
                                        </app-image>
                                    </div>

                                    <div class="scratcher-overlay-body-container" fxFlex="300px;">
                                        <div class="uploader-zone" fxFlex="100">
                                            <app-image
                                                *ngIf="content.custom_scratcher"
                                                [uuid]="content.uuid"
                                                [key]="'overlay-scratcher'">
                                            </app-image>
                                        </div>
                                    </div>

                                </div>

                            </md-tab>

                            <!-- SCRATCHER INTERIOR LAYER -->
                            <md-tab label="Scratcher">

                                <div class="creator-section-label">
                                    Scratcher Preview
                                </div>

                                <div class="scratcher-preview">

                                    <div class="scratcher-hero-image-container" fxFlex="150px;">
                                        <app-image
                                            [uuid]="content.uuid"
                                            [key]="'hero-offer'">
                                        </app-image>
                                    </div>

                                    <div class="scratcher-body" fxFlex="300px;" fxLayout="column">

                                        <div fxFlex></div>

                                        <h3 class="scratcher-heading center" fxLayout="row" fxFlex="10" fxLayoutAlign="center">
                                            <span>
                                                {{ content.scratcher_name }}
                                            </span>
                                        </h3>

                                        <h2 class="scratcher-heading center" fxLayout="row" fxFlex="10" fxLayoutAlign="center">
                                            <span>
                                                {{ content.scratcher_description }}
                                            </span>
                                        </h2>

                                        <div fxLayout="row" fxFlex="10" fxLayoutAlign="center">
                                            <small>
                                                from Payless Shoes
                                            </small>
                                        </div>

                                        <div fxLayout="row" fxFlex="40">
                                            <button type="button" name="button" md-raised-button color="primary" fxFlexAlign="end" fxFlex="100">
                                                Save to Wallet
                                            </button>
                                        </div>

                                        <div fxFlex></div>

                                        <div fxLayout="row" fxFlex="10" fxLayoutAlign="center">
                                            No thanks
                                        </div>

                                    </div>

                                </div>

                            </md-tab>

                            <!-- OFFER LAYER -->
                            <md-tab label="Offer">

                                <div class="creator-section-label">
                                    Offer Preview
                                </div>

                                <div class="scratcher-preview">

                                    <div class="scratcher-hero-image-container" fxFlex="150px;">
                                        <app-image
                                            [uuid]="content.uuid"
                                            [key]="'hero-offer'">
                                        </app-image>
                                    </div>

                                    <div class="scratcher-body" fxFlex="300px;">

                                        <h3 class="scratcher-heading">{{ content.display_name }}</h3>

                                        <small>from Payless Shoes</small>

                                        <p>{{ content.description }}</p>

                                    </div>

                                </div>

                            </md-tab>

                        </md-tab-group>

                        <div *ngIf="!content.scratcher_name">
                            <div fxFlex="49px;"></div>

                            <div class="creator-section-label">
                                Offer Preview
                            </div>

                            <div class="scratcher-preview">

                                <div class="scratcher-hero-image-container" fxFlex="150px;">
                                    <app-image
                                        [uuid]="content.uuid"
                                        [key]="'hero-offer'">
                                    </app-image>
                                </div>

                                <div class="scratcher-body" fxFlex="300px;">

                                    <h3 class="scratcher-heading">{{ content.display_name }}</h3>

                                    <small>from Payless Shoes</small>

                                    <p>{{ content.description }}</p>

                                </div>

                            </div>
                        </div>

                        <div class="creator-section-label" *ngIf="content.type !== 'message'">
                            Wallet Item Preview
                        </div>
                        <div fxLayout="row" class="wallet-preview" *ngIf="content.type !== 'message'">
                            <div class="wallet-image-container">
                                <app-image
                                    [uuid]="content.uuid"
                                    [key]="'wallet'">
                                </app-image>
                            </div>
                            <div class="wallet-body-container" fxLayout="column">
                                <h3 class="wallet-heading" fxFlex="50">{{ content.display_name }}</h3>
                                <div class="wallet-expiration" fxFlex="50">
                                    Use by {{ content.end_at | date }}
                                </div>
                            </div>
                        </div>

                        <div fxLayout="row" class="terms-button-container" *ngIf="content.type !== 'message'">
                            <button
                                fxFlex="100"
                                type="button"
                                name="button"
                                md-raised-button
                                (click)="launchTerms()">
                                Terms and Conditions
                            </button>
                        </div>

                    </div>
                </div>

            </div>




        </div>

            <div fxLayout="row" fxLayoutAlign="end end"  >
              
                    <button
                        type="button"
                        class="common-form-submit"
                        md-raised-button
                        color="primary"
                        (click)="onEditContent()">
                        Edit
                    </button>
        
            </div>
</md-card>
