<div class="selectable-list" fxLayout="column" fxFlex="100">

    <div fxLayout="row" class="search-input-row">
        <form #form="ngForm" novalidate fxLayout="row" fxFlex="100">
            <div fxFlex="70">
                <md-card fxLayout="row" fxFlex="100" class="search-input-card" fxLayoutAlign="space-around center">
                    <div>
                        <md-icon>search</md-icon>
                    </div>

                    <input class="search-input" type="text" name="search" placeholder="Search {{ root }}">
                </md-card>
            </div>

            <div fxFlex="30" fxFlexOffset="10px">
                <md-card class="search-input-card" fxLayoutAlign="space-around center">

                    <md-select [floatPlaceholder]="'never'" class="search-input" name="filter" placeholder="Filter">
                        <md-option value="something">Option</md-option>
                        <md-option value="something">Option2</md-option>
                    </md-select>

                </md-card>
            </div>
        </form>
    </div>

    <div class="list-header-row" fxLayout="row">

        <md-radio-group
            fxLayout="column"
            class="example-radio-group"
            name="radio_group"
            [(ngModel)]="selectedItem"
            (change)="itemSelected($event)"
            ngDefaultControl>

            <md-radio-button
                fxLayoutGap="20px;"
                name="radio"
                [value]="row"
                fxLayout="row"
                fxFlex="100"
                *ngFor="let row of rows; let i = index;">
                <app-selectable-list-item
                    [root]="root"
                    [item]="row"
                    [selectedItem]="selectedItem"
                    fxFlex="100">
                </app-selectable-list-item>
            </md-radio-button>

        </md-radio-group>

    </div>

</div>
