<div class="geofence-container" class="padding">

    <form [formGroup]="geofenceForm" (ngSubmit)="onSubmit()" fxFlex='100' fxLayout="column" *ngIf="geofence">
        <fieldset [disabled]="geofenceCreated || editMode">

        <div fxLayout="row">

            <div fxFlex="33">

                <div fxLayout="row" fxLayoutAlign="space-around center">

                    <div class="geofence-form" fxLayout="column" fxFlex="75" >

                        <md-select
                            fxFlex="50"
                            placeholder="Geofence Type"
                            formControlName="type"
                            #type>
                                    <md-option value="Point">
                                        Point
                                    </md-option>
                                    <md-option value="Polygon">
                                        Polygon
                                    </md-option>
                        </md-select>

                        <!--reverse geocode -->
                        <!--<div fxLayout="row" fxFlex="50">

                            <button
                                type="button"
                                md-button
                                color="primary"
                                fxFlex
                                (click)="setCurrentPosition()">
                                Find Current Location
                            </button>

                        </div>-->
                        <md-input-container fxFlex="50">
                            <input 
                                placeholder="Geofence Point Address"
                                mdInput
                                formControlName="search"
                                type="text"
                                #search 
                                [formControl]="searchControl">

                            <md-hint align="start">
<!--                                <div  *ngIf="!geofenceForm.get('search').valid && !geofenceForm.get('search').touched">
                                    Please add a Geofence Location
                                </div>-->
                            </md-hint>

                        </md-input-container>

                        <div  *ngIf="type === 'Point'">
                            <label class="radius" for="rad">Radius</label>
                        </div>
                        

                        <md-slider
                            *ngIf="type === 'Point'"
                            formControlName="rad"
                            type="number"
                            #rad
                            min="1" 
                            max="1000" 
                            step="50" 
                            [value]="radius" 
                            thumbLabel tickInterval="auto">
                        </md-slider>
                    
                        <md-input-container>
                            <input
                                mdInput
                                type="number"
                                placeholder="Latitude"
                                required
                                formControlName="lat"
                                #lat>

                        </md-input-container>

                            <md-input-container>
                                <input
                                    
                                    mdInput
                                    type="number"
                                    placeholder="Longitude"
                                    required
                                    formControlName="lng"
                                    #lng>

                            </md-input-container>    



                    </div>

                </div>
                
                <div fxLayout="row" fxLayoutAlign="center">
                    <button
                        [disabled]="!geofenceForm.valid || geofenceCreated || editMode" 
                        type="submit"
                        md-raised-button>
                        <md-icon>
                            add
                        </md-icon>
                            Add Geofence
                    </button>
                </div>

            </div>
 
            <div fxFlex="67">

                    <div fxLayout="column" fxLayoutAlign="space-between center">
                        <div fxLayout="column" *ngIf="!currentPosition" fxLayoutAlign="center center">

                            <md-spinner ></md-spinner>
                            <h3>Locating...</h3>

                        </div>

                            <agm-map  *ngIf="type === 'Point'" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                            
                                <agm-circle [latitude]="latitude" [longitude]="longitude" 
                                    [radius]="radius"
                                    [fillColor]="'red'"
                                    [circleDraggable]="true"
                                    [editable]="true"
                                    (radiusChange)="onRadiusChange($event)">
                                </agm-circle>
                            
                            </agm-map>
                            <agm-map  *ngIf="type === 'Polygon'" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                            
                                <agm-polygon [paths]="paths" [fillColor]="'red'">
                                    
                                </agm-polygon>
                            
                            </agm-map>
                    </div>

            </div>

        </div>
        </fieldset>
    </form>

</div>