<md-card fxFlex="100">

    <form #form="ngForm" (ngSubmit)="submitForm(form)" novalidate fxLayout="column">

        <div fxLayout="row">

            <div fxLayout="column" fxFlex="55">

                <div>
                    <md-select
                    placeholder="Type"
                    name="type"
                    [ngModel]="triggerType"
                    (ngModelChange)="setType($event)">
                        <md-option *ngFor="let type of triggerTypes" [value]="type.value">
                            {{ type.viewValue }}
                        </md-option>
                    </md-select>

                    <p *ngIf="!triggerType">
                        To get started, please select a type.
                    </p>
                </div>

                <div *ngIf="triggerType">

                    <div fxLayout="row" *ngIf="!parentCampaign">
                        <md-select
                        placeholder="Campaign"
                        name="camnpaign"
                        [ngModel]="triggerCampaign"
                        (ngModelChange)="setCampaign($event)">
                            <md-option *ngFor="let campaign of campaigns" [value]="campaign">
                                {{ campaign.name }}
                            </md-option>
                        </md-select>
                    </div>

                    <div fxLayout="row">
                        <md-input-container fxFlex="50">
                            <input
                            mdInput
                            name="name"
                            type="text"
                            placeholder="Name"
                            required
                            [(ngModel)]="trigger.name"
                            #name="ngModel">

                            <md-hint align="start">
                                <div  *ngIf="form.submitted && name.errors !== null && name.errors.required">
                                    Please add a name
                                </div>
                            </md-hint>
                        </md-input-container>
                    </div>

                </div>


            </div>

            <div class="right-column" fxFlex="35" fxLayoutAlign="end">

                <div class="media-container" *ngIf="triggerType === 'watermark' || triggerType === 'fingerprint'">
                    <div class="creator-section-label">
                        Media
                    </div>

                    <div class="media-upload-container">
                        <app-file-uploader
                        [fileExists]="triggerMediaExists"
                        [config]="triggerMediaConfig"
                        (onUpload)="triggerMediaExists = $event">
                        </app-file-uploader>
                    </div>
                </div>

            </div>

            <div fxFlex="10">

            </div>

        </div>

        <div fxLayoutAlign="end" fxFlex="100" *ngIf="triggerType">
            <button type="submit" class="common-form-submit" md-raised-button color="primary">Create</button>
        </div>

    </form>

</md-card>
