<md-sidenav-container fullscreen>
    <md-sidenav #sidenav mode="side" opened="true" class="app-sidenav">

        <button md-button routerLink="/overview" class="navbar-brand">Actv8me</button>

        <md-nav-list>

            <a routerLink="{{ route.route }}" routerLinkActive="active" *ngFor="let route of routes">
                <md-list-item md-ripple class="relative">
                    {{ route.name }}
                </md-list-item>
            </a>

            <a (click)="logOut()">
                <md-list-item md-ripple class="relative">
                    Log Out
                </md-list-item>
            </a>
            
        </md-nav-list>

    </md-sidenav>
    <md-toolbar color="primary">
        Tool Bar
    </md-toolbar>

    <!-- primary content -->
    <router-outlet></router-outlet>

</md-sidenav-container>
