<md-toolbar color="primary" class="mat-elevation-z3"></md-toolbar>


<md-sidenav-container fullscreen>

    <md-sidenav #sidenav mode="side" opened="true" class="app-sidenav mat-elevation-z9">

        <md-nav-list>

            <div *ngFor="let route of routes">
                <a class="router-link" routerLink="{{ route.route }}" routerLinkActive="active">
                    <md-list-item md-ripple class="relative">
                        <md-icon>{{ route.icon }}</md-icon>
                        {{ route.name }}
                    </md-list-item>
                </a>

                <a class="router-sub-link" routerLink="{{ subroute.route }}" routerLinkActive="active" *ngFor="let subroute of route.subroutes">
                    <md-list-item md-ripple class="relative">
                        <md-icon>{{ subroute.icon }}</md-icon>
                        {{ subroute.name }}
                    </md-list-item>
                </a>

            </div>

        </md-nav-list>

    </md-sidenav>

    <!-- primary content -->
    <div class="containerX" [ngClass]="{'pad-container': campaignDetails}">
      <router-outlet></router-outlet>
    </div>

</md-sidenav-container>
