<md-card class="content-group" fxFlex="100">
    <app-expandable-panel [header]="contentGroup.name" [targetable]="true">

        <md-card *ngFor="let item of groupContent">
            <app-content-row [item]="item">
            </app-content-row>
        </md-card>

        <md-card class="card-background add-content-row">
            <div fxFlex="100" fxLayoutAlign="end">
                <button type="button" name="button" md-button color="accent" (click)="launchSelector()">
                    <md-icon>
                        add
                    </md-icon>
                    Add Content
                </button>
            </div>
        </md-card>

    </app-expandable-panel>

</md-card>
