<div class="sortable-list" fxLayout="column" fxFlex="100">

    <div fxLayout="row">
        <div fxFlex="60">
            <input type="text" name="" value="" placeholder="Search {{ root }}">
        </div>

        <div fxFlex="30">
            <button type="button" name="button" (click)="toggleLayout()">Toggle</button>
        </div>
    </div>

    <div class="list-header-row" fxLayout="row">

        <md-grid-list cols="3" rowHeight="75px" gutterSize="20px" fxFlex="100">

          <md-grid-tile
              *ngFor="let row of rows; let i = index;"
              [colspan]="tiles.columns"
              [rowspan]="tiles.rows"
              fxFlex="100">

              <md-card fxFlex="100">

                  <span>
                      {{ row.name }}
                  </span>

                  <button
                      type="button"
                      class="btn btn-danger"
                      name="delete"
                      (click)="deleteItem(i)">
                      Delete Campaign
                  </button>

              </md-card>

          </md-grid-tile>

        </md-grid-list>

    </div>

</div>
