/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/all-theme';

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-pink, 700, 500, 900);
$accent:  mat-palette($mat-amber, A200, A100, A400);
$warn:  mat-palette($mat-red, A200, A100, A400);

$theme: mat-dark-theme($primary, $accent, $warn);

// Include all theme styles for the components.
@include angular-material-theme($theme);

$common-margin: 20px;

body {

    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 400;

    // COMMON UTILITIES
    .relative {
        position: relative;
    }

    .color-primary {
        color: mat-color($primary);
    }

    .page-heading {
        font-size: 22px;
        font-weight: 400;
    }

    // COMMON TOOLBAR
    md-toolbar {
        margin-bottom: $common-margin;
    }

    // INPUTS

    md-sidenav {
        width: 200px;
    }

    .mat-input-container[fxFlex="100"] {
        width: 100%;
    }

    // SIDENAV
    .mat-sidenav-focus-trap>.cdk-focus-trap-content {
        position: relative;
    }

    .router-link.active {
        .mat-list-item {
            background-color: mat-color($primary);
        }
    }

    .router-sub-link {
        .mat-list-item {
            background-color: mat-color($warn);
        }

        &.active {
            .mat-list-item {
                background-color: mat-color($accent);
            }
        }
    }

}
